.login-page {
    background-color: lightcyan;
    width: 700px;
    margin: 0 auto;
    margin-top: 120px;
    border: #cfcebe;
    height: 300px;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    border: 0cm;
    border-radius: 0em;
    font-style: italic;
    white-space: normal;
  }
  


