.input,button {
    margin-top: 2px;
    min-width: 3em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: darkorange;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
    margin: 0 auto;
}


.form-group {
    background-color: lightseagreen;
    width: 500px;

    border: lemonchiffon;
  }